@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*  
    file; contents.css
    editor; jaemin_Kim
    date; 2024.02.28
    description; 모든 콘텐츠 페이지별 디자인 스타일을 저장
*/

.contents .cts_greeting p.tit {
    font-size: 25px;
    text-align: center;
}
.contents .cts_greeting p.tit br {
    display: none;
}
.contents .cts_greeting p.intro {
    font-size: 20px;
}
.contents .cts_greeting p.intro span {
    color: #ED2224;
}
.contents .cts_greeting .ceo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.contents .cts_greeting .ceo img {
    width: calc(50% - 25px);
    height: calc(50% - 25px);
}
.contents .cts_greeting .sign {
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contents .cts_greeting .sign strong {
    font-size: 25px;
    margin-right: 20px;
}
.contents .cts_greeting .sign strong br {
    display: none;
}
@media screen and (max-width:1024px) {
                    .contents .cts_greeting p.tit {
                        font-size: 20px;
                    }
                    .contents .cts_greeting p.tit br {
                        display: inline;
                    }
                    .contents .cts_greeting p.intro {
                        font-size: 15px;
                        text-align: center;
                    }
                    .contents .cts_greeting .ceo {
                        margin-top: 50px;
                        display: flex;
                        justify-content: center;
                    }
                    .contents .cts_greeting .ceo img {
                        display: none;
                    }
                    .contents .cts_greeting .sign {
                        margin: 50px 0 50px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .contents .cts_greeting .sign strong {
                        font-size: 20px;
                        margin-right: 20px;
                    }
}
@media screen and (max-width:620px) {
                    .contents .cts_greeting p.tit {
                        font-size: 15px;
                    }
                    .contents .cts_greeting p.intro {
                        font-size: 12px;
                        text-align: center;
                    }
                    .contents .cts_greeting .sign strong {
                        font-size: 13px;
                        margin-right: 10px;
                    }
}
@media screen and (max-width:375px) {
                    .contents .cts_greeting .sign strong br {
                        display: inline;
                    }
}
@media screen and (max-width:320px) {
                    .contents .cts_greeting .ceo p.intro br.px {
                        display: none;
                    }
}
.contents .cts_history .wrapper {
    position: relative;
}
.contents .cts_history .wrapper::before {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 1px;
    height: calc(100% - 55px);
    background-color: #ED2224;
    content: "";
}
.contents .cts_history {
    margin: 70px 0;
}
.contents .cts_history .year10 {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contents .cts_history .year10.right {
    flex-direction: row-reverse;
    text-align: right;
}
.contents .cts_history .year10 .tit {
    display: flex;
    width: 50%;
}
.contents .cts_history .year10 .tit img.img2000_2,
.contents .cts_history .year10 .tit img.img1990_2,
.contents .cts_history .year10 .tit img.img2000_3,
.contents .cts_history .year10 .tit img.img1990_3 {
    display: none;
}
.contents .cts_history .year10.right .tit {
    flex-direction: row-reverse;
}
.contents .cts_history .year10 .tit h2 {
    font-size: 25px;
    line-height: 0.85;
}
.contents .cts_history .year10.left .tit h2 {
    margin-right: 30px;
}
.contents .cts_history .year10.right .tit h2 {
    margin-left: 30px;
}
.contents .cts_history .year10 .tit span {
    font-size: 35px;
}
.contents .cts_history .year10 .tit strong {
    color: #ED2224;
}
.contents .cts_history .year10 .cnt {
    width: 50%;
}
.contents .cts_history .year10.left .cnt {
    padding-left: 61px;
}
.contents .cts_history .year10.right .cnt {
    padding-right: 61px;
}
.contents .cts_history .year10 .cnt br {
    display: none;
}
.contents .cts_history .year10 .cnt .year1_group {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.contents .cts_history .year10 .cnt .year1_group:last-child {
    margin-bottom: 0;
}
.contents .cts_history .year10.right .cnt .year1_group {
    flex-direction: row-reverse;
}
.contents .cts_history .year10 .cnt .year1_group h3 {
    font-size: 30px;
    margin-top: -10px;  
}
.contents .cts_history .year10 .cnt .year1_group dl {
    width: calc(100% - 114px);
}
.contents .cts_history .year10 .cnt .year1_group dl dt {
    float: left;
    font-size: 20px;
    position: relative;
}
.contents .cts_history .year10 .cnt .year1_group dl dt::before {
    position: absolute;
    left: -178px;
    top: 9px;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ED2224;
}
.contents .cts_history .year10.right .cnt .year1_group dl dt::before {
    left: auto;
    right: -179px;
}
.contents .cts_history .year10.right .cnt .year1_group dl dt {
    float: right;
}
.contents .cts_history .year10 .cnt .year1_group dl dd {
    margin-bottom: 30px;
    line-height: 1.8;
}
.contents .cts_history .year10.left .cnt .year1_group dl dd { 
    margin-left: 50px;
}
.contents .cts_history .year10.right .cnt .year1_group dl dd {
    margin-right: 50px;
}
.contents .cts_history .year10 .cnt .year1_group dl dd + dd {
    margin-top: -20px;
}
@media screen and (max-width:1320px) {
                    .contents .cts_history .year10 .tit img.img2000_1,
                    .contents .cts_history .year10 .tit img.img1990_1,
                    .contents .cts_history .year10 .tit img.img2000_3,
                    .contents .cts_history .year10 .tit img.img1990_3 {
                        display: none;
                    }
                    .contents .cts_history .year10 .tit img.img2000_2,
                    .contents .cts_history .year10 .tit img.img1990_2 {
                        display: block;
                    }
                    .contents .cts_history .year10.left .cnt {
                        padding-left: 31px;
                    }
                    .contents .cts_history .year10.right .cnt {
                        padding-right: 31px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl dt::before {
                        left: -148px;
                    }
                    .contents .cts_history .year10.right .cnt .year1_group dl dt::before {
                        right: -149px;
                    }
}
@media screen and (max-width:1024px) {
                    .contents .cts_history .wrapper::before {
                        height: calc(100% - 45px);
                    }
                    .contents .cts_history .year10 .tit h2 {
                        font-size: 18px;
                    }
                    .contents .cts_history .year10 .tit span {
                        font-size: 25px;
                    }
                    .contents .cts_history .year10 .tit img.img2000_1,
                    .contents .cts_history .year10 .tit img.img1990_1,
                    .contents .cts_history .year10 .tit img.img2000_2,
                    .contents .cts_history .year10 .tit img.img1990_2 {
                        display: none;
                    }
                    .contents .cts_history .year10 .tit img.img2000_3,
                    .contents .cts_history .year10 .tit img.img1990_3 {
                        display: block;
                    }
                    .contents .cts_history .year10.left .cnt {
                        padding-left: 21px;
                    }
                    .contents .cts_history .year10.right .cnt {
                        padding-right: 21px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group {
                        margin-bottom: 20px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl dt::before {
                        left: -88px;
                    }
                    .contents .cts_history .year10.right .cnt .year1_group dl dt::before {
                        right: -89px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group h3 {
                        font-size: 15px;
                        margin-top: 0;
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl {
                        width: calc(100% - 64px);
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl dt {
                        font-size: 15px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl dd {
                        line-height: 1;
                    }
                    .contents .cts_history .year10.left .cnt .year1_group dl dd {
                        margin-left: 40px;
                    }
                    .contents .cts_history .year10.right .cnt .year1_group dl dd {
                        margin-right: 40px;
                    }
}
@media screen and (max-width:768px) {
                    .contents .cts_history .wrapper::before {
                        left: 0;
                        top: 132px;
                        height: calc(100% - 135px);
                    }
                    .contents .cts_history .year10 .tit img.img2000_1,
                    .contents .cts_history .year10 .tit img.img1990_1,
                    .contents .cts_history .year10 .tit img.img2000_2,
                    .contents .cts_history .year10 .tit img.img1990_2,
                    .contents .cts_history .year10 .tit img.img2000_3,
                    .contents .cts_history .year10 .tit img.img1990_3 {
                        display: none;
                    }
                    .contents .cts_history .year10 {
                        display: block;
                    }
                    .contents .cts_history .year10.right {
                        text-align: left;
                    }
                    .contents .cts_history .year10 .tit {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    .contents .cts_history .year10.left .tit h2 {
                        margin: -70px 0 20px 0;
                        font-size: 33px;
                    }
                    .contents .cts_history .year10.right .tit h2 {
                        margin: 50px 0 20px 0;
                        font-size: 33px;
                    }
                    .contents .cts_history .year10 .tit span {
                        font-size: 45px;
                    }
                    .contents .cts_history .year10 .cnt {
                        width: 100%;
                    }
                    .contents .cts_history .year10 .cnt .year1_group {
                        display: block;
                    }
                    .contents .cts_history .year10.right .cnt .year1_group {
                        padding-left: 21px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group h3 {
                        margin: 0 0 20px -10px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl {
                        padding-left: 15px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl dt {
                        font-size: 12px;
                    }
                    .contents .cts_history .year10 .cnt .year1_group dl dt::before {
                        top: 4px;
                        left: -39px;
                    }
                    .contents .cts_history .year10.right .cnt .year1_group dl dt::before {
                        left: -39px;
                    }
                    .contents .cts_history .year10.right .cnt .year1_group dl dt {
                        float: left;
                    }
                    .contents .cts_history .year10.right .cnt .year1_group dl dd {
                        padding: 0 0 0 40px;
                        margin: 0 0 30px 0;
                    }
}
@media screen and (max-width:474px) {
                    .contents .cts_history .year10 .cnt br {
                        display: inline;
                    }
}

.contents .cts_IR03 {
    margin: 0px 0 100px 0;
}
.contents .cts_IR03 h2 {
    font-size: 30px;
    color: #2E2B24;
    text-align: center;
}
.contents .cts_IR03 p {
    font-size: 20px;
    color: #2E2B24;
    margin-top: 10px;
    text-align: center;
}
.contents .cts_IR03 table {
    margin-top: 100px;
    width: 100%;
    border-collapse: collapse;
}
.contents .cts_IR03 .table_wrap {
    overflow-y: auto;
}
.contents .cts_IR03 table caption {
    display: none;
}
.contents .cts_IR03 table tbody td,
.contents .cts_IR03 table tbody th{
    border-right: 0;
    border-left: 0;
}
.contents .cts_IR03 table th:first-child,
.contents .cts_IR03 table td:first-child {
    border-left: 0;
    border-right: 1px solid #2E2B24;
    font-weight: 400;
}
.contents .cts_IR03 table th:last-child,
.contents .cts_IR03 table td:last-child {
    border-right: 0;
}
.contents .cts_IR03 table th,
.contents .cts_IR03 table td {
    border: 1px solid #2E2B24;
}
.contents .cts_IR03 table tbody td,
.contents .cts_IR03 table tbody th {
    padding: 10px 20px;
}
.contents .cts_IR03 table thead td,
.contents .cts_IR03 table thead th {
    padding: 20px 20px;
    background-color: #2E2B24;
    color: #FDFAF3;
    font-weight: 400;
}
.contents .cts_IR03 table tbody td {
    text-align: center;
}
.contents .cts_IR03 table tbody tr:has(th) {
    text-align: left;
}
@media screen and (max-width:768px) {
                    .contents .cts_IR03 h2 {
                        font-size: 25px;
                    }
                    .contents .cts_IR03 p {
                        font-size: 15px;
                        margin-top: 10px;
                    }
                    .contents .cts_IR03 table {
                        margin-top: 80px;
                    }
                    .contents .cts_IR03 table tbody td,
                    .contents .cts_IR03 table tbody th {
                    padding: 10px 0;
                    }
                    .contents .cts_IR03 table thead td,
                    .contents .cts_IR03 table thead th {
                        padding: 15px 20px;
                    }
}

.contents .cts_biz05 {
    margin: 100px 0 500px 0;
}
.contents .cts_biz05 .search_group .search {
    position: relative;
    max-width: 650px;
    width: 100%;
    height: 80px;
    border: 1px solid #2E2B24;
    border-radius: 999px;
    background-color: #2E2B24;
    color: #FDFAF3;
    margin: 0 auto;
    padding-left: 110px;
    display: flex;
    align-items: center;
}
.contents .cts_biz05 .search_group .search:hover {
    box-shadow: 0 10px 10px 5px rgba(46, 43, 36, 0.15);
}
.contents .cts_biz05 .search_group .search::after {
    position: absolute;
    left: 80px;background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 13px;
    content: "";
    border: 1px solid rgba(253, 250, 243, 0.1);
    height: 50px;
}
.contents .cts_biz05 .search_group .search:before {
    position: absolute;
    left: 30px;
    top: 14px;
    content: "K";
    font-size: 40px;
}
.contents .cts_biz05 .search_group .search label {
    display: none;
}
.contents .cts_biz05 .search_group .search input[type="text"] {
    font-size: 30px;
    color: #ED2224;
    background-color: #2E2B24;
    width: calc(100% - 99px);
    border: 0;
    outline: 0;
}
.contents .cts_biz05 .search_group .search input[type="submit"] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.9004 34.3058L22.253 23.6584C21.4068 24.3824 20.3974 24.9328 19.2249 25.3093C18.0525 25.6859 16.9128 25.8742 15.8058 25.8742C12.9341 25.8742 10.5168 24.8946 8.55403 22.9355C6.59125 20.9764 5.60986 18.5709 5.60986 15.7192C5.60986 12.8674 6.58943 10.4602 8.54857 8.49763C10.5077 6.53502 12.908 5.55371 15.7494 5.55371C18.5908 5.55371 21.0015 6.53378 22.9816 8.49392C24.9617 10.4541 25.9517 12.8595 25.9517 15.7104C25.9517 16.8873 25.7582 18.037 25.3711 19.1595C24.984 20.282 24.4343 21.2642 23.722 22.106L34.4176 32.7674L32.9004 34.3058ZM15.7733 23.7418C18.0505 23.7418 19.9608 22.9739 21.5042 21.4383C23.0476 19.9026 23.8193 17.9945 23.8193 15.714C23.8193 13.4335 23.0484 11.5254 21.5067 9.98971C19.9649 8.45402 18.0546 7.68617 15.7758 7.68617C13.4934 7.68617 11.5839 8.45402 10.0473 9.98971C8.51064 11.5254 7.74232 13.4335 7.74232 15.714C7.74232 17.9945 8.51064 19.9026 10.0473 21.4383C11.5839 22.9739 13.4926 23.7418 15.7733 23.7418Z' fill='%23FDFAF3'/%3E%3C/svg%3E%0A");
    margin-left: 30px;
}
.contents .cts_biz05 .search_group .search input[type="text"]::placeholder {
    color: rgba(237, 34, 36, 0.5);
}
@media screen and (max-width:768px) {
                    .contents .cts_biz05 {
                        margin: 100px 0 200px 0;
                    }
                    .contents .cts_biz05 .search_group .search {
                        position: relative;
                        max-width: 500px;
                        width: 100%;
                        height: 60px;
                        border: 1px solid #2E2B24;
                        border-radius: 999px;
                        background-color: #2E2B24;
                        color: #FDFAF3;
                        margin: 0 auto;
                        padding-left: 80px;
                        display: flex;
                        align-items: center;
                    }
                    .contents .cts_biz05 .search_group .search::after {
                        position: absolute;
                        left: 70px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        top: 13px;
                        content: "";
                        border: 1px solid rgba(253, 250, 243, 0.1);
                        height: 30px;
                    }
                    .contents .cts_biz05 .search_group .search:before {
                        position: absolute;
                        left: 30px;
                        top: 10px;
                        content: "K";
                        font-size: 30px;
                    }
                    .contents .cts_biz05 .search_group .search input[type="text"] {
                        font-size: 15px;
                        color: #ED2224;
                        background-color: #2E2B24;
                        width: calc(100% - 69px);
                        border: 0;
                        outline: 0;
                    }
                    .contents .cts_biz05 .search_group .search input[type="submit"] {
                        border: 0;
                        background-color: transparent;
                        font-size: 0;
                        line-height: 0;
                        width: 30px;
                        height: 30px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.6755 25.7291L16.6899 17.7436C16.0552 18.2866 15.2982 18.6993 14.4188 18.9818C13.5395 19.2642 12.6847 19.4054 11.8545 19.4054C9.70066 19.4054 7.88773 18.6707 6.41564 17.2014C4.94356 15.7321 4.20752 13.928 4.20752 11.7891C4.20752 9.65032 4.9422 7.84493 6.41155 6.37298C7.8809 4.90102 9.6811 4.16504 11.8121 4.16504C13.9432 4.16504 15.7512 4.90009 17.2363 6.3702C18.7214 7.8403 19.4639 9.64441 19.4639 11.7825C19.4639 12.6652 19.3188 13.5275 19.0284 14.3694C18.7381 15.2112 18.3258 15.9479 17.7916 16.5793L25.8133 24.5753L24.6755 25.7291ZM11.8301 17.8061C13.538 17.8061 14.9707 17.2302 16.1283 16.0784C17.2858 14.9267 17.8646 13.4956 17.8646 11.7852C17.8646 10.0749 17.2864 8.64379 16.1301 7.49204C14.9738 6.34027 13.5411 5.76438 11.832 5.76438C10.1202 5.76438 8.68804 6.34027 7.53558 7.49204C6.3831 8.64379 5.80686 10.0749 5.80686 11.7852C5.80686 13.4956 6.3831 14.9267 7.53558 16.0784C8.68804 17.2302 10.1196 17.8061 11.8301 17.8061Z' fill='%23FDFAF3'/%3E%3C/svg%3E%0A");
                        margin-left: 10px;
                    }
                    .contents .cts_biz05 .search_group .search input[type="text"]::placeholder {
                        font-size: 12px;
                    }
}