* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li, ol { 
    list-style: none;
}
a { 
    text-decoration: none;
    color: inherit;
}

address, em {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, strong, th { 
    font-size: inherit;
    font-weight: inherit;
}
input, button, select {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer; /*손바닥모양*/
}
table {
    border-collapse: collapse;
    border: 0;
}
table caption {
    display: none;
}
fieldset {
    border: 0;
}
legend {
    display: none;
}