@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*  
    file; main.css
    editor; jaemin_Kim
    date; 2024.02.28
    description; 메인페이지에만 들어가는 스타일
*/
.visual h2 {
    display: none;
}
.visual .swiper {
    height:700px
}
.visual .swiper-slide img {
    object-fit:cover;
    display:block;
    width:100%;
    height:100%;
}
.visual .visual_txt01 {
    position: absolute;
    left: 20px;
    width: calc(100% - 40px);
    text-align: left;
    bottom: 144px;
}
.visual .visual_txt01 strong {
    color: #ED2224;
    line-height: 80px;
    font-size: 100px;
}
.visual .visual_txt01 span {
    position: absolute;
    left: 226px;
    bottom: 5px;
    width: 475px;
    color: #FDFAF3;
    line-height: 35px;
    font-size: 40px;
}
.visual .visual_txt02 {
    position: absolute;
    left: 20px;
    width: calc(100% - 40px);
    text-align: center;
    top: 317px;
}
.visual .visual_txt02 strong {
    color: #ED2224;
    font-size: 40px;
    font-weight: 900;
}
.visual .visual_txt03 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 280px;
    width: calc(100% - 40px);
    text-align: left;
    top: 270px;
}
.visual .visual_txt03 strong {
    color: #ED2224;
    font-size: 50px;
    font-weight: 900;
}
.visual .visual_txt03 span {
    color: #ED2224;
    font-size: 30px;
    margin-top: -12px;
}
.visual .btn_ctrl {
    position: absolute;
    right: 200px;
    bottom: 20px;
    z-index: 10;
}
.visual .btn_ctrl button.prev,
.visual .btn_ctrl button.stop,
.visual .btn_ctrl button.play,
.visual .btn_ctrl button.next {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: left;
    padding-left: 5px;
}
.visual .btn_ctrl button.prev {
    border: 1px solid #8C8889;
    background-color: #8C8889;
}
.visual .btn_ctrl button.stop,
.visual .btn_ctrl button.play {
    border: 1px solid #ED2224;
    background-color: #ED2224;
    margin-left: -15px;
}
.visual .btn_ctrl button.next {
    border: 1px solid #C40D3F;
    background-color: #C40D3F;
    margin-left: -15px;
}
.visual .btn_ctrl button.play {
    display: none;
}
                @media screen and (max-width:1024px) {
                    .visual .visual_txt01 strong {
                        color: #ED2224;
                        line-height: 50px;
                        font-size: 70px;
                    }
                    .visual .visual_txt01 span {
                        position: absolute;
                        left: 160px;
                        bottom: 4px;
                        color: #FDFAF3;
                        line-height: 25px;
                        font-size: 30px;
                    }
                    .visual .visual_txt02 strong {
                        color: #ED2224;
                        font-size: 40px;
                        font-weight: 900;
                    }
                    .visual .visual_txt03 {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        left: 20px;
                        width: calc(100% - 40px);
                        text-align: left;
                        top: 270px;
                    }
                    .visual .visual_txt03 strong {
                        color: #ED2224;
                        font-size: 50px;
                        font-weight: 900;
                    }
                    .visual .visual_txt03 span {
                        color: #ED2224;
                        font-size: 30px;
                        margin-top: -12px;
                    }
                    .visual .btn_ctrl {
                        right: 50px;
                    }
                    .visual .btn_ctrl button.prev,
                    .visual .btn_ctrl button.stop,
                    .visual .btn_ctrl button.play,
                    .visual .btn_ctrl button.next {
                        width: 40px;
                        height: 40px;
                        padding-left: 0;
                        font-size: 12px;
                    }
                }
                @media screen and (max-width:768px) {
                    .visual .visual_txt01 {
                        bottom: 148px;
                    }
                    .visual .visual_txt01 strong {
                        color: #ED2224;
                        line-height: 31px;
                        font-size: 40px;
                    }
                    .visual .visual_txt01 span {
                        position: absolute;
                        left: 96px;
                        bottom: 4px;
                        color: #FDFAF3;
                        line-height: 16px;
                        font-size: 17px;
                    }
                    .visual .visual_txt02 strong {
                        color: #ED2224;
                        font-size: 35px;
                        line-height: 0.9;
                        font-weight: 900;
                    }
                    .visual .visual_txt03 {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        left: 20px;
                        width: calc(100% - 40px);
                        text-align: left;
                        top: 428px;
                    }
                    .visual .visual_txt03 strong {
                        color: #ED2224;
                        font-size: 40px;
                        font-weight: 900;
                    }
                    .visual .visual_txt03 span {
                        color: #ED2224;
                        font-size: 22px;
                        margin-top: -10px;
                    }
                }

.biz {
    padding-top: 100px;
    background-color: #FDFAF3;
}
.biz .tit h2 {
    font-size: 20px;
}
.biz .tit p {
    font-size: 30px;
    margin-top: 10px;
}
.biz .list {
    margin-top: 50px;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.4s;
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    opacity: 0.7;
}
.biz .list ul li.on::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    opacity: 0.15;
    transition: 0.4s;
}
.biz .list ul li.biz01 h3 {
    line-height: 0.9;
}
.biz .list ul li.biz01 {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz02 {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz03 {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz04 {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 600px;
    padding: 0 0 20px 10px; 
}
.biz .list ul li a h3 {
    display: block;
    color: #ED2224;
    font-size: 40px;
}
.biz .list ul li a span {
    font-size: 15px;
    color: #FDFAF3;
    display: none;
    font-weight: 300;
}
.biz .list ul li.on {
    width: 40%;
}
.biz .list ul li.on a span {
    display: block;
}
.biz .list ul li.off {
    white-space: nowrap;
    overflow: hidden;
}
                @media screen and (max-width:1080px) {
                    .biz .list ul li a h3 {
                        font-size: 25px;
                    }
                }
                @media screen and (max-width:768px) {
                    .biz .tit h2 {
                        font-size: 12px;
                    }
                    .biz .tit p {
                        font-size: 15px;
                    }
                    .biz .list {
                        margin-top: 40px;
                    }
                    .biz .list ul {
                        display: flex;
                        flex-direction: column;
                    }
                    .biz .list ul li {
                        display: flex;
                        width: auto;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                        transition: 0.4s;
                        margin-top: 20px;
                    }
                    .biz .list ul li:first-child {
                        margin: 0 0 0 0;
                    }
                    .biz .list ul li.biz01 {
                        background-image: none;
                    }
                    .biz .list ul li.biz02 {
                        background-image: none;
                    }
                    .biz .list ul li.biz03 {
                        background-image: none;
                    }
                    .biz .list ul li.biz04 {
                        background-image: none;
                    }
                    .biz .list ul li::before {
                        display: none;
                    }
                    .biz .list ul li a {
                        display: block;
                        flex-direction: column;
                        justify-content: flex-end;
                        position: relative;
                        height: auto;
                        padding: 0 0 0 0; 
                    }
                    .biz .list ul li.biz01 a br {
                        display: none;
                    }
                    .biz .list ul li.biz01 a {
                        position: relative;
                    }
                    .biz .list ul li.biz01 a::before {
                        position: absolute;
                        top: 7px;
                        left: 34px;
                        content: "";
                        width: 85%;
                        height: 0;
                        border: 7px solid #ED2224;
                        background-color: #ED2224;
                        border-radius: 999px;
                    }
                    .biz .list ul li.biz02 a::before {
                        position: absolute;
                        top: 10px;
                        left: 34px;
                        content: "";
                        width: 82%;
                        height: 0;
                        border: 7px solid #ED2224;
                        background-color: #ED2224;
                        border-radius: 999px;
                    }
                    .biz .list ul li.biz03 a::before {
                        position: absolute;
                        top: 10px;
                        left: 34px;
                        content: "";
                        width: 77%;
                        height: 0;
                        border: 7px solid #ED2224;
                        background-color: #ED2224;
                        border-radius: 999px;
                    }
                    .biz .list ul li.biz04 a::before {
                        position: absolute;
                        top: 10px;
                        left: 34px;
                        content: "";
                        width: 73%;
                        height: 0;
                        border: 7px solid #ED2224;
                        background-color: #ED2224;
                        border-radius: 999px;
                    }
                    .biz .list ul li a h3 {
                        font-size: 22px;
                        position: relative;
                        padding: 9px 0 0 90px;
                        color: #2E2B24;
                    }
                    .biz .list ul li.biz01 a h3::before,
                    .biz .list ul li.biz02 a h3::before,
                    .biz .list ul li.biz03 a h3::before,
                    .biz .list ul li.biz04 a h3::before {
                        position: absolute;
                        left: 35px;
                        top: 0;
                        width: 40px;
                        height: 40px;
                        content: "";
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                    }
                    .biz .list ul li.biz01 a h3::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7009 33.7564H25.2494C25.513 33.7564 25.7445 33.6762 25.9439 33.516C26.1433 33.3557 26.2857 33.1581 26.3712 32.923L28.437 25.0448H11.4851L13.5791 32.923C13.6503 33.1581 13.7856 33.3557 13.9851 33.516C14.1845 33.6762 14.4231 33.7564 14.7009 33.7564ZM14.6453 35.8889C13.88 35.8889 13.213 35.6735 12.6444 35.2428C12.0758 34.8121 11.6829 34.2329 11.4659 33.5053L9.24575 25.0448H30.6763L28.4979 33.5053C28.258 34.2116 27.8518 34.7854 27.2795 35.2267C26.7072 35.6681 26.0513 35.8888 25.312 35.8888L14.6453 35.8889ZM9.05025 22.9123H30.9776C31.3195 22.9123 31.5973 22.8055 31.811 22.5918C32.0246 22.3781 32.1315 22.111 32.1315 21.7905V19.5149H7.89642V21.7905C7.89642 22.111 8.0086 22.3781 8.23296 22.5918C8.45729 22.8055 8.72972 22.9123 9.05025 22.9123ZM19.9744 13.3664C19.9744 10.9952 20.9517 8.92754 22.9062 7.16332C24.8608 5.3991 27.0712 4.39234 29.5374 4.14307C29.2568 6.36334 28.3102 8.33205 26.6977 10.0492C25.0851 11.7664 23.1881 12.844 21.0065 13.282V17.3824H34.2222V21.7906C34.2222 22.6629 33.9068 23.4234 33.2758 24.0719C32.6449 24.7205 31.9343 25.0448 31.1443 25.0448H8.88358C8.04492 25.0448 7.31762 24.7205 6.70171 24.0719C6.08579 23.4234 5.77783 22.6629 5.77783 21.7906V17.3824H18.9156V13.282C16.7433 12.844 14.8508 11.7717 13.2383 10.0653C11.6258 8.3588 10.6884 6.38475 10.4263 4.14311C12.8635 4.39238 15.0641 5.40341 17.0282 7.17619C18.9923 8.94894 19.9744 11.0123 19.9744 13.3664Z' fill='%232E2B24'/%3E%3C/svg%3E%0A");
                    }
                    .biz .list ul li.biz02 a h3::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.55029 35.7565V10.7352H15.1294V4.95741L20.0418 0.333496L24.8986 4.95741V18.3505H33.4776V35.7565H6.55029ZM8.68279 33.624H14.187V28.1197H8.68279V33.624ZM8.68279 25.9873H14.187V20.483H8.68279V25.9873ZM8.68279 18.3505H14.187V12.8677H8.68279V18.3505ZM17.2618 33.624H22.7661V28.1197H17.2618V33.624ZM17.2618 25.9873H22.7661V20.483H17.2618V25.9873ZM17.2618 18.3505H22.7661V12.8677H17.2618V18.3505ZM17.2618 10.7352H22.7661V5.23091H17.2618V10.7352ZM25.8409 33.624H31.3452V28.1197H25.8409V33.624ZM25.8409 25.9873H31.3452V20.483H25.8409V25.9873Z' fill='%232E2B24'/%3E%3C/svg%3E%0A");
                    }
                    .biz .list ul li.biz03 a h3::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0063 32.5557V22.5685H24.9935V32.5557H15.0063ZM17.1388 30.4232H22.861V24.701H17.1388V30.4232ZM3.71892 20.7448L2.44434 19.0225L19.9999 5.77148L27.3408 11.2768V7.44457H30.9476V13.998L37.5875 19.0225L36.2991 20.7448L19.9999 8.47765L3.71892 20.7448Z' fill='%232E2B24'/%3E%3C/svg%3E%0A");
                    }
                    .biz .list ul li.biz04 a h3::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.45605 34.2232V30.8888C2.45605 30.075 2.65762 29.3582 3.06076 28.7384C3.46387 28.1186 4.06215 27.616 4.8556 27.2307C6.28154 26.4957 7.88447 25.9091 9.66439 25.4711C11.4443 25.0331 13.1879 24.814 14.8951 24.814C16.6024 24.814 18.3262 25.0307 20.0666 25.4641C21.807 25.8975 23.4389 26.4864 24.9624 27.2307C25.7324 27.616 26.3248 28.1186 26.7397 28.7384C27.1546 29.3582 27.362 30.075 27.362 30.8888V34.2232H2.45605ZM4.58851 32.0908H25.2296V30.7777C25.2296 30.358 25.1001 30.0244 24.8412 29.777C24.5823 29.5296 24.278 29.3091 23.9283 29.1153C22.8364 28.5826 21.4717 28.0879 19.8343 27.6313C18.1968 27.1748 16.5504 26.9465 14.8951 26.9465C13.2399 26.9465 11.5899 27.1748 9.94535 27.6313C8.30076 28.0879 6.94892 28.5826 5.8898 29.1153C5.51508 29.3041 5.20453 29.523 4.95814 29.7719C4.71172 30.0208 4.58851 30.3561 4.58851 30.7777V32.0908ZM14.9007 20.3397C13.303 20.3397 11.9911 19.8333 10.9651 18.8203C9.93914 17.8074 9.42614 16.4407 9.42614 14.72H9.07355C8.84194 14.72 8.65868 14.6481 8.52376 14.5041C8.38887 14.3602 8.32143 14.1802 8.32143 13.9641C8.32143 13.7622 8.38887 13.587 8.52376 13.4385C8.65868 13.29 8.84194 13.2158 9.07355 13.2158H9.42614C9.45461 12.2272 9.65992 11.3664 10.0421 10.6335C10.4242 9.90059 10.9938 9.23499 11.7509 8.63672V10.2265C11.7509 10.4186 11.8199 10.5796 11.9577 10.7093C12.0956 10.839 12.2615 10.9038 12.4554 10.9038C12.6332 10.9038 12.7895 10.839 12.9245 10.7093C13.0595 10.5796 13.127 10.4186 13.127 10.2265V8.01642C13.3513 7.93828 13.627 7.86794 13.9539 7.80538C14.2808 7.7428 14.5989 7.71151 14.9082 7.71151C15.2174 7.71151 15.5333 7.74302 15.8558 7.80605C16.1783 7.86908 16.461 7.93963 16.7039 8.01772V10.2265C16.7039 10.4186 16.7682 10.5796 16.8968 10.7093C17.0255 10.839 17.1888 10.9038 17.387 10.9038C17.5605 10.9038 17.7194 10.839 17.8636 10.7093C18.0079 10.5796 18.08 10.4186 18.08 10.2265V8.63672C18.8399 9.23499 19.4046 9.90059 19.7739 10.6335C20.1432 11.3664 20.3492 12.2315 20.3919 13.2286H20.8044C21.022 13.2286 21.201 13.3031 21.3415 13.4522C21.482 13.6012 21.5522 13.7751 21.5522 13.9737C21.5522 14.1903 21.4806 14.3659 21.3373 14.5004C21.1941 14.6349 21.015 14.7022 20.8001 14.7022H20.3919C20.3919 16.4347 19.8726 17.8074 18.8339 18.8203C17.7952 19.8333 16.4841 20.3397 14.9007 20.3397ZM14.8951 18.2072C15.8845 18.2072 16.6925 17.894 17.3193 17.2676C17.9461 16.6412 18.2595 15.8005 18.2595 14.7457H11.5586C11.5586 15.8005 11.8674 16.6412 12.4849 17.2676C13.1024 17.894 13.9058 18.2072 14.8951 18.2072ZM27.5415 24.8482L27.4326 23.6132C27.22 23.557 26.9975 23.46 26.7651 23.3221C26.5327 23.1842 26.3343 23.0583 26.1697 22.9444L25.0244 23.4166L24.315 22.1815L25.3428 21.3931C25.2915 21.2813 25.2623 21.1741 25.2552 21.0715C25.2481 20.969 25.2445 20.8689 25.2445 20.7713C25.2445 20.6595 25.2481 20.5612 25.2552 20.4764C25.2623 20.3917 25.2915 20.2827 25.3428 20.1495L24.315 19.3397L25.0244 18.1046L26.1697 18.5768C26.3599 18.4373 26.5683 18.307 26.7951 18.1861C27.0218 18.0652 27.2343 17.9725 27.4326 17.908L27.5415 16.6944H28.9261L29.0746 17.9098C29.2541 17.9731 29.4557 18.0652 29.6793 18.1861C29.903 18.307 30.1192 18.4373 30.3278 18.5768L31.4518 18.1046L32.1826 19.3397L31.1548 20.1495C31.1875 20.2734 31.2085 20.3824 31.2178 20.4764C31.2271 20.5705 31.2317 20.6687 31.2317 20.7713C31.2317 20.8596 31.2271 20.9597 31.2178 21.0715C31.2085 21.1833 31.1875 21.2905 31.1548 21.3931L32.1826 22.1815L31.4518 23.4166L30.3278 22.9444C30.1448 23.0583 29.9371 23.1842 29.7047 23.3221C29.4723 23.46 29.2623 23.5564 29.0746 23.6114L28.9261 24.8482H27.5415ZM28.2381 22.3162C28.6697 22.3162 29.0387 22.1731 29.3449 21.8869C29.6512 21.6007 29.8043 21.2289 29.8043 20.7713C29.8043 20.3137 29.6512 19.9383 29.3449 19.645C29.0387 19.3517 28.6651 19.205 28.2242 19.205C27.7833 19.205 27.4179 19.3517 27.1281 19.645C26.8382 19.9383 26.6932 20.3137 26.6932 20.7713C26.6932 21.2289 26.8363 21.6007 27.1225 21.8869C27.4087 22.1731 27.7805 22.3162 28.2381 22.3162ZM31.721 15.7606L31.518 14.3247C31.2089 14.2585 30.8822 14.1263 30.5378 13.9283C30.1934 13.7303 29.9354 13.5042 29.7637 13.2499L28.2257 13.8033L27.424 12.4636L28.7146 11.4529C28.6776 11.3112 28.6462 11.1506 28.6206 10.9711C28.5949 10.7916 28.5821 10.631 28.5821 10.4893C28.5821 10.3618 28.5949 10.2047 28.6206 10.0181C28.6462 9.83148 28.6776 9.6673 28.7146 9.52555L27.424 8.53626L28.2257 7.19651L29.7637 7.72855C29.9354 7.47427 30.1934 7.24706 30.5378 7.04692C30.8822 6.84678 31.2089 6.72285 31.518 6.67513L31.7141 5.23926H33.268L33.471 6.67513C33.7616 6.72285 34.0791 6.84678 34.4235 7.04692C34.7678 7.24706 35.0422 7.47427 35.2466 7.72855L36.7633 7.19651L37.565 8.53626L36.2744 9.52555C36.2929 9.6673 36.3196 9.83148 36.3546 10.0181C36.3894 10.2047 36.4069 10.3618 36.4069 10.4893C36.4069 10.631 36.3894 10.7916 36.3546 10.9711C36.3196 11.1506 36.2929 11.3112 36.2744 11.4529L37.565 12.4636L36.7633 13.8033L35.2466 13.2499C35.0422 13.5042 34.7678 13.7303 34.4235 13.9283C34.0791 14.1263 33.7616 14.2585 33.471 14.3247L33.2749 15.7606H31.721ZM32.4866 12.8247C33.15 12.8247 33.7046 12.6053 34.1505 12.1664C34.5964 11.7276 34.8193 11.1701 34.8193 10.4939C34.8193 9.83204 34.5988 9.28009 34.1577 8.83809C33.7167 8.39612 33.1636 8.17513 32.4986 8.17513C31.8192 8.17513 31.2612 8.39456 30.8246 8.83343C30.388 9.27226 30.1697 9.82263 30.1697 10.4845C30.1697 11.1607 30.3865 11.7198 30.8199 12.1618C31.2534 12.6037 31.809 12.8247 32.4866 12.8247Z' fill='%232E2B24'/%3E%3C/svg%3E%0A");
                    }
                }

.news {
    padding-top: 100px;
    background-color: #FDFAF3;
}
.news .tit h2 {
    font-size: 20px;
}
.news .tit p {
    font-size: 30px;
    margin-top: 10px;
}
.news .list a span.date {
    font-size: 40px;
    margin-top: 10px;
    color: #8C8889;
}
.news .list a h3 {
    font-size: 20px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list a p {
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
    margin-top: 10px;
    font-weight: 300;
}
.news .list ul li {
    border-top: 1px solid #2E2B24;
    margin-top: 50px;
}
.news .list ul li a {
    display: block;
}
.news .list ul li span.photo {
    margin-top: 20px;
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.news .list ul li a .photo img {
    transition: 0.44s;
    width: 100%;
}
.news .list ul li:hover {
    border-color: #ED2224;
}
.news .list ul li a:hover span.date {
    color: rgba(237, 34, 36, 1);
}
.news .more {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 100px;
}
.news .more a {
    display: inline-block;
    padding-right: 44px;
    position: relative;
    color: #ED2224;
}
.news .more a::after {
    position: absolute;
    right: 3px;
    bottom: 1px;
    width: 40px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='18' viewBox='0 0 44 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.75 9.5625H0V8.46875H41.75L34.2188 0.9375L35 0.125L43.875 9L39.4531 13.4375L35.0312 17.875L34.25 17.0625L41.75 9.5625Z' fill='%23ED2224'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
                @media screen and (max-width:768px) {
                    .news .list a span.date {
                        font-size: 20px;
                        margin-top: 10px;
                        color: #8C8889;
                        display: block;
                    }
                    .news .list a h3 {
                        font-size: 15px;
                        margin-top: 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .news .list a p {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                    .news .list ul li {
                        margin-top: 20px;
                    }
                    .news .list ul li span.photo {
                        margin-top: 10px;
                        display: block;
                        font-size: 0;
                        line-height: 0;
                        overflow: hidden;
                    }
                    .news .more {
                        margin-top: 30px;
                        padding-bottom: 80px;
                    }
                }
                @media screen and (max-width:580px) {
                    .news .tit h2 {
                        font-size: 12px;
                    }
                    .news .tit p {
                        font-size: 15px;
                    }
                }
.service {
    background: url(../images/main/service01.png) no-repeat center center / cover;
}
.service h2 {
    padding-top: 180px;
    font-size: 30px;
}